<h2>Showing Ticket</h2>
<form>
<table id="tickets" border="0" cellpadding="0" cellspacing="0">
<% for (key, value) in @ticket %>
  <% #next if key == '_id' or key == '_rev' %>
  <tr>
    <td style="text-align:right"><strong><%= key.capitalize %></strong></td>
    <!-- <td><input type="text" value="<%= value %>" /></td> -->
    <td>
    <% if key =~ /^_/ %>
      <%= value %>
    <% else %>
      <select>
      <% for value in @field_values[key] %>
        <option><%= value %></option>
      <% end %>
      </select>
    <% end %>
    </td>
  </tr>
  <!--
  <tr>
    <td style="text-align:right; font-size:80%"><em>Possible values</em></td>
    <td><%= @field_values[key].join(', ') %></td>
  </td>
  -->
<% end %>
</table>
<input type="submit" value="Save" />
</form>